MONGO_URL=mongodb://mongodb:27017/ecommerce_ci_cd
DB_NAME=ecommerce_ci_cd
AUTH_PORT=5001
PRODUCT_PORT=5002
FRONTEND_PORT=3000
PROMETHEUS_PORT=9090
GRAFANA_PORT=3001
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
